<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="width: 100%;display: flex;justify-content: center;height:20%;">
    <div style="min-width: 10%;min-width: 30%;margin: 4%;">
        <img style="width: 100%;border-radius: 50%;border: 4px solid #f568a9d6;" [src]="userDetails.details.profilefilename ? (fileServerSource+userDetails.details.profilefilename) : fileServerSource + 'assets/useravatar.jpeg' " alt="" srcset="">
    </div>
    <div style="width: 86%;font-size-adjust: inherit;display: flex;align-items: center;">
        <div>
            <p *ngIf="userDetails && userDetails.username" style="font-size:xx-large ;font-weight: bold;">{{userDetails.username}}</p>
            <p *ngIf="userDetails && userDetails.email">{{userDetails.email}}</p>
            <button *ngIf="isSameUser" style="background-color: #f568a9d6;color: #fff;padding: 4px;border-radius: 5px;border: none;margin: 2px;outline: none;" (click)="logout()">Logout</button>
            <button style="background-color: #f568a9d6;color: #fff;padding: 4px;border-radius: 5px;border: none;margin: 2px;outline: none;" (click)="shareProfile()"> <i class="fa fa-share-alt"></i> Share</button>
            <button *ngIf="isSameUser" style="background-color: #f568a9d6;color: #fff;padding: 4px;border-radius: 5px;border: none;margin: 2px;outline: none;color: #fff;"> <a style="text-decoration: none;color: #fff;" routerLink="/user" [replaceUrl]="true"> <i class="fa fa-pencil"></i> Edit </a> </button>
            <button *ngIf="isSameUser" style="background-color: #f568a9d6;color: #fff;padding: 4px;border-radius: 5px;border: none;margin: 2px;outline: none;" (click)="deleteAccount()"><i class="fa fa-trash"></i> Delete Account</button>
        </div>
    </div>
</div>