<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-toolbar [tabs]="toolbarTabs"></app-toolbar>
<app-profile-card *ngIf="userDetails" [userDetails]="userDetails"></app-profile-card>
<mat-tab-group *ngIf="userDetails" color="accent" style="background-color: #fbfbfb;">
    <mat-tab label="Details"> 
        <br><br>
        <div style="overflow: hidden;padding: 0px 20px;">
            <h5 style="width: 100%;">Profession:</h5>
            <p *ngIf="userDetails && userDetails.details && userDetails.details.profession" style="width: 100%;word-wrap: break-word;">{{userDetails.details.profession}}</p>
            <p *ngIf="!userDetails || !userDetails.details || !userDetails.details.profession" style="width: 100%;word-wrap: break-word;color: #fbfbfb;">No Data Found</p>
        </div>
        <br><br>
        <div style="overflow: hidden;padding: 0px 20px;">
            <h5 style="width: 100%;">Description:</h5>
            <p *ngIf="userDetails && userDetails.details && userDetails.details.description" style="width: 100%;word-wrap: break-word;">{{userDetails.details.description}}</p>
            <p *ngIf="!userDetails || !userDetails.details || !userDetails.details.description" style="width: 100%;word-wrap: break-word;color: #fbfbfb;">No Data Found</p>
        </div>
        <br><br>
        <div style="overflow: hidden;padding: 0px 20px;">
            <h5 style="width: 100%;">Skills:</h5>
            <p *ngIf="userDetails && userDetails.details && userDetails.details.skills" style="width: 100%;word-wrap: break-word;">{{userDetails.details.skills}}</p>
            <p *ngIf="!userDetails || !userDetails.details || !userDetails.details.skills" style="width: 100%;word-wrap: break-word;color: #c0c0c0;">No Data Found</p>
        </div>
        <br><br>
        <div style="overflow: hidden;padding: 0px 20px;">
            <h5 style="width: 100%;">Social Media:</h5>
            <p style="width: 100%;font-size:xx-large" *ngIf="userDetails && userDetails.details && userDetails.details.socialmedia">
                <a *ngIf="userDetails.details.socialmedia.facebook" [href]="userDetails.details.socialmedia.facebook" target="_blank" rel="noopener"><i style="margin: 3px;color: #ff0090;" class="fa fa-facebook-square"></i></a>
                <a *ngIf="userDetails.details.socialmedia.instagram" [href]="userDetails.details.socialmedia.instagram" target="_blank" rel="noopener"><i *ngIf="userDetails.details.socialmedia.instagram" style="margin: 3px;color: #ff0090;" class="fa fa-instagram"></i></a>
                <a *ngIf="userDetails.details.socialmedia.github" [href]="userDetails.details.socialmedia.github" target="_blank" rel="noopener"><i *ngIf="userDetails.details.socialmedia.github" style="margin: 3px;color: #ff0090;" class="fa fa-github-square"></i></a>
                <span *ngIf="!userDetails.details.socialmedia.facebook && !userDetails.details.socialmedia.instagram && !userDetails.details.socialmedia.github" style="font-size: medium;width: 100%;word-wrap: break-word;color: #c0c0c0;">No Data Found</span>
            </p>
            <p *ngIf="!userDetails.details.socialmedia" style="width: 100%;word-wrap: break-word;color: #c0c0c0;">No Data Found</p>
        </div>
        <br><br>       
    </mat-tab>
    <mat-tab label="Projects"> 
        <p style="display: flex;justify-content: space-between;align-items: center;padding: 5px;">
            <span><h2>Projects By {{userDetails.username}}</h2></span>
            <span><button *ngIf="isSameUser" style="background-color: #f568a9d6;color: #fff;padding: 4px;border-radius: 5px;border: none;margin: 2px;outline: none;">Create New Project</button></span>
    </mat-tab>
</mat-tab-group>