.login-card{
    margin:  0 auto;
    width: 80%;
}
.layout-grid{
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 0, 144);
    color: #fff;
}
.img-section{
    width: 40%;
}

.cover-img{
    width: 100%;
}

.login-form{
    background: #fff;
}
.standard{
    padding: 10px 40px ;
}