.container{
    width: 100vw;
}
.login-card{
    margin:  0 auto;
    width: 80%;
}
.layout-grid{
    width: 100vw;
    height: 100vh;
    background-color: #ff0090;
    color: #fff;
}
.img-section{
    width: 40%;
}

.cover-img{
    width: 100%;
}

.login-form{
    background: #fff;
}
.standard{
    padding: 10px 40px ;
}

.mat-stepper-vertical {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  @media screen and (max-width:770px) {
    
    .img-section{
        display: none;
    }
  }