<div class="container">
    <table class="layout-grid" cellspacing="0" cellpadding="0">
        <tr>
            <td class="img-section">
                <h1 style="padding: 5px;">Logo Here</h1>
                <p style="padding: 5px;font-size: large;margin: 0 auto;">Discover your next project idea.</p>
                <img class="cover-img" src="../../../assets/—Pngtree—people characters work near a_7516385.png" alt="no img">
                <a style="width:100%;text-align: center;padding: 5px;font-size: medium;margin: 0 auto;text-decoration: none;color: #fff;" href='https://pngtree.com/so/people'>Art By agny_illustration</a>
            </td>
            <td class="login-form">
                <mat-card class="login-card" *ngIf="isuser">
                    <mat-card-title class="standard" style="font-weight: 700;">Login</mat-card-title>
                    <mat-card-content>
                        <form style="width: 100%;">
                            <mat-form-field class="standard" style="width: 80%;" appearance="outline">
                                <mat-label>User Name</mat-label>
                                <input matInput type="text" required>
                            </mat-form-field>
                            <mat-form-field class="standard" style="width: 80%;" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput type="text" required>
                            </mat-form-field>
                            <button  style="margin-left: 40px;padding: 0px 40px;" mat-flat-button color="accent">Login</button>
                        </form>
                        <p style="padding: 20px 40px;">Don't have an existing account ? <span style="color: #ff0090;cursor: pointer;" (click)="isuser=!isuser" >Create Account</span></p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="login-card" *ngIf="!isuser">
                    <mat-card-title class="standard" style="font-weight: 700;">Create Account</mat-card-title>
                    <mat-card-content>
                        <mat-stepper orientation="vertical" [linear]="true" color="accent" #stepper>
                            <mat-step [stepControl]="firstFormGroup" label = "User Details">
                              <form [formGroup]="firstFormGroup">
                                <mat-form-field style="width: 80%;" appearance="outline">
                                    <mat-label>User Name</mat-label>
                                    <input matInput type="text" formControlName="username"  required>
                                </mat-form-field>
                                <mat-form-field style="width: 80%;" appearance="outline">
                                    <mat-label>Password</mat-label>
                                    <input matInput type="text" formControlName="password"  required>
                                </mat-form-field>
                                <div>
                                    <button  style="padding: 0px 40px;" mat-flat-button matStepperNext color="accent">Next</button>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step [stepControl]="secondFormGroup" label = "Verify Email Address">
                              <form [formGroup]="secondFormGroup">
                                <mat-form-field style="width: 80%;" appearance="outline" *ngIf="!verifiedOtp">
                                  <mat-label>Email Address</mat-label>
                                  <input matInput formControlName="email" placeholder="xyz@mail.com" required>
                                </mat-form-field>
                                <div *ngIf="!showotp && !verifiedOtp">
                                  <button style="padding: 0px 40px;" mat-flat-button color="accent" (click)="sendOtp()">Send OTP</button>
                                </div>
                                <mat-form-field style="width: 80%;" appearance="outline" *ngIf="showotp && !verifiedOtp">
                                  <mat-label>OTP</mat-label>
                                  <input matInput formControlName="otp" required>
                                </mat-form-field>
                                <div *ngIf="showotp && !verifiedOtp">
                                  <button style="padding: 0px 40px;" mat-flat-button color="accent" (click)="verifyOtp()">Verify</button>
                                </div>
                                <p style="padding:40px 0px;" *ngIf="verifiedOtp">Email verification done.</p>
                                <div *ngIf="verifiedOtp">
                                  <button style="padding: 0px 40px;" mat-flat-button matStepperPrevious color="accent">Back</button> &nbsp;
                                  <button style="padding: 0px 40px;" mat-flat-button matStepperNext color="accent">Next</button>
                                </div>
                              </form>
                            </mat-step>
                            <mat-step label = "Submit">
                              <p style="padding:40px 0px;">You are now done.</p>
                              <div>
                                <button style="padding: 0px 40px;" mat-flat-button matStepperPrevious color="accent">Back</button> &nbsp;
                                <button style="padding: 0px 40px;" mat-flat-button color="accent" (click) = "register()">Create Account</button>
                              </div>
                            </mat-step>
                          </mat-stepper>
                        <p style="padding: 20px 40px;">Already have an existing account ? <span style="color: #ff0090;cursor: pointer;" (click)="isuser=!isuser" >Login</span></p>
                    </mat-card-content>
                </mat-card>
            </td>
        </tr>
    </table>
</div>
